<% include partials/header %>

    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
        </ul>
    </nav>
    <header>
        <h1>Showing of OAuth</h1></h1>
        <h2>Homepage</h2>
    </header>
    <main>
        <p>OAuth is a nice feature to pick up</p>
    </main>

<% include partials/footer %>